.content {
    display: flex;
    position: relative;
    width: 250px;
    height: 400px;
    margin: 20px;
}

.content:hover {
    box-shadow: 4px 4px 16px #000;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 4px 4px 16px #000;
    border-radius: 20px;
    top: 0;
    left: 0;
}

.shadow:hover {
    box-shadow: inset 0px 0px 0px #000;

}

.main_img {
    height: 85%;
}

.content_subtitle {
    height: 1em;
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 300%;
    color: #808080;
}

.book_view_container {
    display: grid;
    align-items: stretch;

}

.dark {
    background: #333;
    color: #FFFDD0 !important;
}

#area {
    display: block;
    align-self: center;
    position: relative;
    justify-self: center;
}

#info {
    text-decoration: none;
    line-height: 10vw;

    font-size: 50vw;
    -webkit-transform: scale(3, 0.3);
    -moz-transform: scale(3, 0.3);
    -ms-transform: scale(3, 0.3);
    -o-transform: scale(3, 0.3);
    transform: scale(3, 0.3);
    position: fixed;

}

.arrow {
    color: transparent;
    margin-top: 50%;
    text-decoration: none;
    line-height: 10vw;

    font-size: 50vw;
    -webkit-transform: scale(3, 5.0);
    -moz-transform: scale(3, 5.0);
    -ms-transform: scale(3, 5.0);
    -o-transform: scale(3, 5.0);
    transform: scale(3, 5.0);
}

#prev {
    position: fixed;
    left: -7vw;
}

#next {
    position: fixed;
    right: -7vw;
}

.area {
    display: inline;
}


.content_title {
    width: 100%;
    text-align: center;
    height: 15%;
    background-color: #000;
    font-family: "Times New Roman";
    font-size: 200%;
    line-height: 80%;
    text-decoration: none;
}


#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #000;
    height: 50px;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 4px 16px #000;

}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
}

img {
    min-width: 100%;
    max-width: 100%;
    z-index: +1;
/ / max-height: 100 %;
}

body {
    background-color: #333;
    color: #FFFDD0;
    margin: 0;
    display: grid;

}

.separator {
    width: 100%;
    height: 10vh;
    display: block;
    box-shadow: inset 4px 4px 16px #000;
    background-color: #222;
    text-align: center;
    display: block;
    float: left;
}

.separator_t {
    font-size: 4vh;
    color: #888888;
}

.searchSeparator {
    margin-top: 50px;
}

.bookViewWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #FFFDD0;
/ / grid-template-columns: repeat(3, 1 fr);
}

.book_image {
    max-width: 20%;
    height: auto;
}

.book_info {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    width: 400px;
    display: grid;

}

#button {
    display: inline;

}

.button {
    border-style: outset;
    border-color: #444;
    background-color: #333;
    color: #FFFDD0;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    font-size: 2.5vh;
}

.button:hover {
    background-color: #444;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#login {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
}

#recent_lib {
    justify-content: start;
}

#recent_lib_sub {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    max-height: 950px;
}

.book_info_ta {
    width: auto;
    overflow: auto;
/ / display: inline-flex;
}

.book_info_H3 {
    display: inline-block;
    width: 5em;
    margin-right: 10%
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
/ / max-height: calc(100 vh - 100 px);
/ / overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #222;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #FFFDD0;
    min-height: 150px;
    max-height: 80vh;
    overflow-y: hidden;
}

#contMenu {
    background-color: #111;
    padding-top: 50px;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
}

#seriesDD {

    background-color: #111;
    padding-top: 50px;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
    overflow-y: auto;
}


#modal-content2 {
    left: auto;
    right: 0px;

    position: fixed;

    background-color: #222;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 250px;
    height: auto;
}

#modal-content3 {
    left: 0px;
    right: auto;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    position: fixed;

    background-color: #222;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 250px;
}

#menu-icon {
    width: 50px;
}

#menu-icon > .line {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: #fff;
    height: 2px;
    display: block;
}

#menu-icon > .line + .line {
    margin-top: 12px;
}

.up_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.up_content {
    padding: 15px;
    outline-style: ridge;
    outline-color: #333;
    outline-width: 2px;
    display: flex;
    max-height: 500px;
    max-width: 500px;
    overflow: hidden;
}

.up_content_sub {
    padding: 15px;
}

.up_img {
    max-width: 200px;
    max-height: 400px;
    min-width: 0%;
    min-height: 0%;
}

